*{ padding: 0%;
margin: 0%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
box-sizing: border-box;
}
html {
    background-color: lightyellow;
}
main {
width: 100vw ;
height: 100vh ;
background-color: lightyellow;

}
nav {
    display: flex ;
    align-items: center;
    justify-content: space-between ;
    padding: 1%;
    background-color: #F9D923 ;
}
.nav-links ul{
display:flex ;
align-items: center;
list-style-type:none ;    
}

.nav-links li a{
text-decoration: none;
color:black ;
margin:0% 10px ;
}
.mainpage {
   padding: 2%; 
}
.row {
display: flex;
}
.colom1 {
    flex-basis: 50%;
}
.colom1 h1 {
    margin-top: 150px;
}
.colom2 img {
    width: 100%;
    height: 100%;
}
.secondmainpage {
width: 100vw;
}
.row2 {
    display: flex;
}
.colom3 {
    display:flex ;
    align-items: center;
    list-style-type:none ;    
    justify-content: space-between;
}
.sociallink {
    align-items: center;
    list-style-type:none ;    
    justify-content: space-between;
    margin: 0% 14px ;
    border: 3px solid yellow ;
    gap: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding:  30px 30px;
}
.skills {
    display: flex;
}
.skills p {
    margin: 50px 14px;
}
.skills svg {
    width: 40px;
    margin: 15px;
    cursor: pointer;
}
footer {
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer h3 {
    margin-bottom: 16px;
}
small {
    margin-top: 5px;
} 
.secondmainpage {
    width: 100% ;
    height: 100vh;
    align-items: center;
  
    display: flex;
    flex-direction: column;
}
.secondmainpage h1 {
    margin-top: 60px;
}
.row2 {
    margin-top:  20px ;
}
.contact {
    width: 100%;
    height: 100vh ;
}
.contact h1 {
  margin: 60px 0px;
}
.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-container form input {
    outline: none;
    padding: 10px ;
    border-radius: 8px;
}
.contact-container form {
    padding: 15px;
    border-radius: 10px;
    border: 3px solid yellow ;
    display: flex;
    flex-direction: column ;
    gap: 10px; 
    width: 300px;
    border-radius: 10px;
    border: 3px solid yellow ;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.contact-container form textarea {
    outline: none;
    padding: 10px ;
    border-radius: 8px;
}
.contact-container form  button {
    outline: none;
    padding: 10px ;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #F9D923;
    cursor: pointer;
}
.aboutmepage h1{
    margin: 60px 0px ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboutmepage p {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}